@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat-medium-webfont.woff") format("woff"),
    url("../fonts/montserrat-bold-webfont.woff") format("woff"),
    url("../fonts/montserrat-bolditalic-webfont.woff") format("woff"),
    url("../fonts/montserrat-italic-webfont.woff") format("woff"),
    url("../fonts/montserrat-mediumitalic-webfont.woff") format("woff"),
    url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --pr-color: rgba(0, 141, 173, 1);
  --scnd-color: rgb(188, 192, 188);
}

body.body {
  font-family: "montserrat", sans-serif !important;
  background-color: #21272f !important;
  letter-spacing: 0;
  text-shadow: 0 0 1px var(--scnd-color);
  margin-bottom: 5000px;
}

.icon {
  color: var(--scnd-color);
}

.icon a {
  color: var(--scnd-color);
}

/* Navbar */
.navbar-brand.nav-brand {
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 700;
  font-style: italic;
}

.navbar-brand.nav-brand span {
  font-size: 16px;
  font-weight: 700;
  color: var(--pr-color);
}

ul.navbar-nav.mx-auto li.nav-item a.nav-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--scnd-color);
}
/* End of Navbar */

/* Hero Section */
.container.hero-section {
  padding-top: 150px;
}
.container.hero-section .row .card.bg-transparent,
.container.expertise-section .row .card.bg-transparent {
  border: none;
}

.card .card-body {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.card-body .col-lg-6 h3 {
  font-weight: 500;
  color: var(--scnd-color);
}

.card-body .col-lg-6 h3 span {
  color: var(--pr-color);
}

.card-body .col-lg-6 h1 {
  font-weight: 700;
  color: var(--pr-color);
}

.card-body .col-lg-6 p {
  font-weight: 300;
  color: var(--scnd-color);
}

.card-body .col-lg-6 a.btn {
  width: 130px;
  border-radius: 15px;
  font-weight: 700;
  padding: 10px;
  font-size: 18px;
  background-image: linear-gradient(
    to bottom right,
    var(--pr-color),
    rgb(19, 176, 211)
  );
  box-shadow: 0 1px 20px var(--pr-color);
}

.card-body .col-lg-6 .avatar {
  width: 270px;
  height: 270px;
  margin-left: 250px;
  border-radius: 50%;
  background-color: var(--pr-color);
  background-image: url("../img/profile-squared.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 1px 20px var(--pr-color);
}

.row.social-media {
  line-height: 5px;
  margin-left: 20px;
}

.row.social-media p {
  color: var(--scnd-color);
}

.row.social-media .icon a {
  margin-right: 10px;
}

.row.arrow {
  justify-content: center;
}

.row.arrow svg {
  color: var(--pr-color);
  width: 90px;
  height: 90px;
  opacity: 0.8;
  animation: Bounce 0.8s ease-in-out infinite alternate;
}

@keyframes Bounce {
  100% {
    transform: translateY(-30px);
  }
}
/* End of Hero Section */

/* Expertise Section */
.container.expertise-section,
.container.project-section,
.container.contact-section {
  padding-top: 90px;
  line-height: 40px;
}

.container.expertise-section .title h2,
.container.project-section .title h2,
.container.contact-section .title h2 {
  color: var(--pr-color);
  font-weight: 700;
  text-align: center;
  padding-bottom: 25px;
}

.container.expertise-section .title h2 span,
.container.project-section .title h2 span,
.container.contact-section .title h2 span {
  color: var(--scnd-color);
}

.container.expertise-section .row .card .card-body {
  flex-direction: column;
  align-items: flex-start;
}

.container.expertise-section .row .card .card-body h3 {
  color: var(--pr-color);
}

.container.expertise-section .row .card .card-body ul {
  color: var(--scnd-color);
  width: 100%;
}

.container.expertise-section .row .card .card-body ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.container.expertise-section .row .card .card-body ul li .col-lg-6 {
  display: flex;
}

.container.expertise-section .row .card .card-body ul li .kotak-nilai {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  background-color: var(--scnd-color);
  border-radius: 30%;
}

.container.expertise-section .row .card .card-body ul li .kotak-nilai-bisa {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  background-color: var(--pr-color);
  border-radius: 30%;
}

.container.expertise-section .row .note p {
  color: var(--scnd-color);
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.container.expertise-section .row .note p span {
  color: var(--pr-color);
}
/* End of Expertise Section */

/* Project Section */
.container.project-section {
}

.container.project-section .row {
  gap: 15px;
  justify-content: space-around;
}

.container.project-section .row .card-project {
  background: linear-gradient(to bottom right, #111418, #21272f);
  box-shadow: 0 0 10px #111418;
  padding: 10px;
  width: 350px;
  border-radius: 10px;
}

.container.project-section .row .card-project img {
  /* height: 200px; */
  width: 330px;
  border-radius: 10px;
}

.container.project-section .row .card-project .project-description {
  display: flex;
  color: var(--scnd-color);
  justify-content: space-around;
  align-items: center;
}

.container.project-section .row .card-project .project-description p.category {
  color: var(--pr-color);
  font-size: 1rem;
}

.container.project-section .row .card-project .project-description .love {
  display: flex;
}

.container.project-section .row .card-project .project-description .love svg {
  color: var(--pr-color);
  height: 1rem;
  width: 1rem;
  margin-top: 10px;
}

.container.project-section .row .card-project .project-title {
  color: var(--scnd-color);
  margin-top: -15px;
}
/* End of Project Section */

/* Contact Section */
.container.contact-section .form-contact {
  background: linear-gradient(to bottom right, #111418, #21272f);
  box-shadow: 0 0 10px #111418;
  padding: 25px;
  border-radius: 10px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.container.contact-section .form-contact button {
  border-radius: 15px;
  font-weight: 600;
  color: #21272f;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
  background-image: linear-gradient(
    to bottom right,
    var(--pr-color),
    rgb(19, 176, 211)
  );
  box-shadow: 0 1px 10px var(--pr-color);
  border: none;
  margin-top: 10px;
}
/* End of Contact Section */
